* {
    border-radius: 8px;
    padding: 8px;
    text-align: center;
}
body {
    min-height: 100vh;
    transition: .5s;
}
img {
    height: 200px;
    margin: 0 auto;
    transition: 1s;
    visibility: hidden;
}

.show {
    visibility: visible;
}

.mouseEvent {
    border: 6px solid salmon;
    width: 220px;
    position: absolute;
    left: 20%;
    transform: translateX(-50%);
    padding: 10px;
}

.themeContainer {
position: fixed;
top: 0;
}
.theme {
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.dark{
    background-color: black;
}
.salmon{
    background-color: salmon;
}
.yellow{
    background-color: yellow;
}
.darktheme {
    background: black;
    color: white;
}
.salmontheme {
    background: salmon;
    color: white;
}
.yellowtheme {
    background: yellow;
    color: white;
}